@layer init {
    :host {
        --_track__rounding: calc(var(--rounding) - var(--padding));


        --length: 100px;
        --padding: 0px;
        --puck__length: var(--width);
        --rounding: 0px;
        --width: 20px;

        background: #0002;
        border-radius: var(--rounding);
        box-sizing: border-box !important;
        display: block;
        height: var(--width) !important;
        padding: var(--padding) !important;
        width: var(--length) !important;
    }
    :host([vertical]) {
        height: var(--length) !important;
        width: var(--width) !important;
    }


    #handle {
        inset: 0 !important;
        position: absolute !important;
    }

    #puck {
        background: #0002;
        border-radius: var(--_track__rounding);
        bottom: 0 !important;
        left: 0;
        position: absolute !important;
        right: 0 !important;
        top: 0;
        width: var(--puck__length) !important;

        :host([vertical]) & {
            height: var(--puck__length) !important;
            width: auto !important;
        }
    }

    #root {
        display: contents;
    }

    #track {
        border-radius: var(--_track__rounding);
        height: 100% !important;
        position: relative !important;
        width: 100% !important;
    }
}
