@layer init, main;

/* @import './b.css' layer(main); */


@layer init {
    :host {
        border: 1px solid;
        color: red;
        display: block;
        padding: 10px;
        width: 200px;
    }


    #button {
        display: block;
        width: 100%;
    }
}
