@layer init {
    :host {
        --TextArea__gap: 0px;
        --TextArea__placeholder_color: currentColor;
        --TextArea__placeholder_opacity: 0.4;
        --TextArea__puck__length_min: 20%;
        --TextArea__puck__margin_inner: 2px;
        --TextArea__puck__margin_outer: 2px;
        --TextArea__scrollBar__width: 10px;

        border-radius: 2px;
        border: 1px solid #888;
        display: block;
        font-family: 'Arial';
        max-height: 120px;
        padding: 4px;
        width: 400px;
    }
    :host([_focused]) {
        border-color: #000;
    }
    :host([disabled]) {
        background: #eee;
        border-color: #ccc;
    }


    #input {
        background: transparent !important;
        border: none !important;
        color: inherit;
        font: inherit;
        line-height: 1.5;
        margin: 0 !important;
        outline: none !important;
        height: 100%;
        padding: 0 !important;
        resize: none !important;

        &::placeholder {
            color: var(--TextArea__placeholder_color);
            opacity: var(--TextArea__placeholder_opacity);
        }
    }

    #root {
        --Flickable__gap: var(--TextArea__gap);
        --Flickable__puck__length_min: var(--TextArea__puck__length_min);
        --Flickable__puck__margin_inner: var(--TextArea__puck__margin_inner);
        --Flickable__puck__margin_outer: var(--TextArea__puck__margin_outer);
        --Flickable__scrollBar__width: var(--TextArea__scrollBar__width);
        height: 100%;
    }
}
