@layer init {
    :host {
        --_Flickable__puck_x__length: 0;
        --_Flickable__puck_y__length: 0;
        --_Flickable__scrollBar_phantom__margin: calc(-1 * var(--Flickable__scrollBar__width));


        --Flickable__gap: 0px;
        --Flickable__puck__length_min: 20%;
        --Flickable__puck__margin_inner: 2px;
        --Flickable__puck__margin_outer: 2px;
        --Flickable__scrollBar__padding: 2px;
        --Flickable__scrollBar__width: 10px;

        display: block;
    }


    slot[name='display']::slotted(*) {
        overflow: auto !important;
        scrollbar-width: none !important;
        touch-action: none !important;

        &::-webkit-scrollbar {
            display: none !important;
        }
    }


    .content {
        box-sizing: border-box !important;
        display: inline-block;
    }

    .display {
        display: block !important;
        overflow: auto !important;
        scrollbar-width: none !important;
        touch-action: none !important;

        &::-webkit-scrollbar {
            display: none !important;
        }
    }

    .root {
        display: grid;
        gap: var(--Flickable__gap);
        height: 100%;
        width: 100%;

        :host(:not([scrollBars='hidden'])) & {
            :host([_scroll_x]) & {
                grid-template: auto min-content / auto;
            }
            :host([_scroll_y]) & {
                grid-template: auto / auto min-content;
            }
            :host([_scroll_x][_scroll_y]) & {
                grid-template: auto min-content / auto min-content;
            }
        }
    }

    .scrollBar {
        --TrackBar__length: auto !important;
        --TrackBar__padding: var(--Flickable__scrollBar__padding);
        --TrackBar__rounding: var(--TrackBar__width);
        --TrackBar__width: var(--Flickable__scrollBar__width) !important;
        background: transparent;
        border-radius: 0;
        display: none !important;
    }

    .scrollBar_x {
        --TrackBar__puck__length: max(var(--Flickable__puck__length_min), var(--_Flickable__puck_x__length) * 1px);
        overflow-x: clip !important;

        &::part(handle) {
            margin: calc(-1 * var(--Flickable__puck__margin_inner)) 0 calc(-1 * var(--Flickable__puck__margin_outer)) 0;
        }

        :host([scrollBars='phantom']) & {
            margin-top: var(--_Flickable__scrollBar_phantom__margin) !important;

            :host([_scroll_y]) & {
                margin-right: var(--Flickable__scrollBar__width);
            }
        }
        :host([_scroll_x]:not([scrollBars='hidden'])) & {
            display: block !important;
        }
    }

    .scrollBar_y {
        --TrackBar__puck__length: max(var(--Flickable__puck__length_min), var(--_Flickable__puck_y__length) * 1px);
        overflow-y: clip !important;

        &::part(handle) {
            margin: 0 calc(-1 * var(--Flickable__puck__margin_outer)) 0 calc(-1 * var(--Flickable__puck__margin_inner));
        }

        :host([scrollBars='phantom']) & {
            margin-left: var(--_Flickable__scrollBar_phantom__margin);

            :host([_scroll_x]) & {
                margin-bottom: var(--Flickable__scrollBar__width);
            }
        }
        :host([_scroll_y]:not([scrollBars='hidden'])) & {
            display: block !important;
        }
    }
}
