<div id='root' tabIndex_='-1'>
    <input id='input' part='input' size='1'></input>
    <div id='button_clear' class='button' part='button button_clear' tabIndex_='-1'>
        <slot name='button_clear'>
            <svg class='icon'>
                <use href='${url: ./Edit.svg#cross}'/>
            </svg>
        </slot>
    </div>
    <div id='button_mask' class='button' part='button button_mask' tabIndex_='-1'>
        <slot name='button_mask__off'>
            <svg class='icon'>
                <use href='${url: ./Edit.svg#eye_open}'/>
            </svg>
        </slot>
        <slot name='button_mask__on'>
            <svg class='icon'>
                <use href='${url: ./Edit.svg#eye_closed}'/>
            </svg>
        </slot>
    </div>
</div>
