<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <title>TrackBar</title>

        <!-- <script type='module' src='./TrackBar.js'></script> -->
    </head>

    <body>
        <x-trackBar value='50'></x-trackBar>
        <x-trackBar value_min='-10' value_max='10'></x-trackBar>
        <x-trackBar value='999' vertical></x-trackBar>
    </body>

    <style>
        body {
            height: 100vh;
            margin: 0;
        }

        x-trackBar {
            /* --length: 200px; */
            /* --puck__length: 100%; */
            display: inline-block;
            margin: 10px;

            &::part(puck) {
                cursor: pointer;
            }
        }
    </style>

    <script type='module'>
        import {TrackBar} from './TrackBar.js';

        // let {TrackBar} = await import('./TrackBar.js');
        // await TrackBar._defined;
        // await (await import('./TrackBar.js')).TrackBar._defined;


        await TrackBar._defined;

        // window.trackBar = document.querySelector('x-trackBar');

        // console.log(trackBar.value)
        // // trackBar.value = 999;
        // trackBar.attribute__set('value', 999);
        // console.log(trackBar.value)


        // document.body.append(new TrackBar());
    </script>
</html>
